* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
em{
  font-style: normal;
}
.contents {
  background-color: #f1f5fe;
}
.tab-menu {
  width: 100%;
  height: 70px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  background-color: #fff;
  grid-template-columns: repeat(3, 1fr);
}
.tab-menu .menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}
.tab-menu .menu span {
  font-size: 17px;
}
.tab-menu .menu.action {
  color: #76b7e7;
}

.item-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.show {
  /* height: calc(100vh - 70px); */
  overflow-y: auto;
  position: relative;
  padding-bottom: 90px !important;
}
.none {
  display: none;
}
.tomorrow-content,
.after-tomorrow,
.today-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.item-container {
  display: flex;
  row-gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.tomorrow-content em{
 font-style: normal;
}
.tryWrap {
  box-sizing: border-box;
}
.item-wrap {
  margin-top: 35px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: -webkit-fill-available;
  grid-column-gap: 8px;
}
.item-wrap > span {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  background-color: #76b7e7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  font-size: 14px;
}
.item-wrap em {
  font-size: 13px;
  font-style: normal;
}
.temperature-wrap >i,
.loading-wrap i,
.WeatherWrap i,
.item-container > i {
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.weekend-weather i {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.WeatherWrap i {
  width: 35px;
  margin-top: 4px;
  height: 35px;
}
.temperature-wrap >i{
  width: 60px;
  height: 60px;
}
.loading-wrap i.front,
i.sun {
  background-image: url(./images/sun.png);
}
.loading-wrap i.back,
i.clouds {
  background-image: url(./images/clouds-3.png);
}
i.cloudy {
  background-image: url(./images/cloudy-4.png);
}
i.cloudy-rain {
  background-image: url(./images/light-rain.png);
}
i.rain {
  background-image: url(./images/rain.png);
}
i.snow {
  background-image: url(./images/snow.png);
}
i.shower {
  background-image: url(./images/umbrella.png);
}
.tomorrow-content .tryWrap,
.after-tomorrow .tryWrap,
.WeatherWrap {
  margin: 0 auto;
  width: calc(100vw - 20px);
  background-color: #fff;
  column-gap: 10px;

  padding: 20px 10px;
  box-sizing: border-box;
}
.tomorrow-content .tryWrap,
.after-tomorrow .tryWrap{
  display: flex;
  justify-content: space-evenly;
}

.tomorrow-content .tryWrap >li,
.after-tomorrow .tryWrap >li{
display: flex;
display: flex;
flex-direction: column;
align-items: center;
}
.swiper-slide > div {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  border: 1px solid #cbd6ee;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: -3px 2px 3px 0 #dadee8;
}
.swiper-slide > div .dayDate {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.swiper-slide > div .time {
  padding: 0px 10px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 11px;
}
.swiper-slide > div .time.now {
  border: 1px solid #76b7e7;
}
.swiper-slide > div .time.tomorrow {
  border: 1px solid #76e77f;
}
.swiper-slide > div .time.afterTomorrow {
  border: 1px solid #e7e176;
}
.swiper-slide > div {
  display: flex;
  align-items: center;
}
.weekend-weather {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: calc(100vw - 20px);
  background-color: #fff;
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  box-sizing: border-box;
}
.weekend-weather > li {
  display: flex;
  align-items: center;
  /* column-gap: 10px; */
  padding: 10px 5px;
  box-sizing: border-box;
  justify-content: space-between;
}
.weekend-weather .rainfall {
  display: flex;
  flex-direction: column;
  align-items: cente;
}
.weekend-weather .rainfall em {
  color: #7294eb;
  font-style: normal;
  font-size: 12px;
}
.weekend-weather .rainfall em.title {
  color: #8f8f8f;
  font-size: 13px;
}
.weekend-weather > li .am-box,
.weekend-weather > li .pm-box {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.weekend-weather .day-content {
  display: flex;
  flex-direction: column;
}
.weekend-weather .day-content span.date {
  color: #b0b0b0;
  font-size: 14px;
}
.weekend-weather .day-content span.day-date {
  color: #303030;
  font-size: 14px;
}
.weekend-weather .max-min-content span.min-num {
  color: #2a74f8;
  font-size: 14px;
  vertical-align: top;
}
.weekend-weather .max-min-content span.max-num {
  font-size: 18px;
  color: #dc0100;
  font-weight: bold;
  vertical-align: top;
}
.weekend-weather .max-min-content em {
  font-size: 13px;
  color: #dbdbdb;
  vertical-align: top;
}
.loading-wrap{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
    background-color: #fff;
    position: relative;
}
.loading-wrap .loading {
  position: relative;
  perspective: 440px;
  width: 220px;
  height: 220px;
}
.loading-wrap i {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.loading-wrap i.front {
  position: absolute;
  backface-visibility: hidden;
  animation: front 2000ms linear  infinite;
}

.loading-wrap i.back {
  backface-visibility: hidden;
  animation: back 2000ms linear infinite;
}

.loading-wrap:hover i.front {
  transform: rotateY(180deg);
}
.loading-wrap:hover i.back {
  transform: rotateY(0deg);
}
@keyframes front {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
  
}

@keyframes back {
  0%{
    transform: rotateY(-180deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(180deg);
  }
} 
.tomorrow-content .tryWrap .item-box,
.after-tomorrow .tryWrap .item-box,
.temperature-wrap{
  display: flex;
}
.temperature-wrap{
  align-items: center;
  column-gap: 12px;
  margin: 7px 0 10px;
}
.temperature-wrap > span{
  font-size: 40px;
  font-weight: bold;
}
.tomorrow-content .tryWrap .item-box,
.after-tomorrow .tryWrap .item-box{
  column-gap: 10px;
  margin-top: 8px;
}
.tomorrow-content .tryWrap .item-box .item,
.after-tomorrow .tryWrap .item-box .item{

/* display: flex;
flex-direction: column;
align-items: center; */
}
.tomorrow-content em,
.after-tomorrow em{
font-size: 16px;
}
.tomorrow-content .item-box *,
.after-tomorrow .item-box *{
font-size: 13px;
}
