* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.contents{
  background-color: #f1f5fe;
}
.tab-menu {
  width: 100%;
  height: 70px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tab-menu .menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}
.tab-menu .menu span {
  font-size: 17px;
}
.tab-menu .menu.action {
  color: #76b7e7;
}

.item-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.show {
  height: calc(100vh - 70px);
  overflow-y: auto;
  position: relative;
}
.none {
  display: none;
}
.today-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.item-container {
  display: flex;
  row-gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.tryWrap {
  
  box-sizing: border-box;
}
.item-wrap {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: -webkit-fill-available;
  grid-column-gap: 8px;
}
.item-wrap > span {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  background-color: #76b7e7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  font-size: 14px;
}
.item-wrap em {
  font-size: 13px;
  font-style: normal;
}
.WeatherWrap i,
.item-container > i {
  display: block;
  width: 70px;
  height: 70px;
  /* padding-top: 5px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.WeatherWrap i{
  width: 30px;
  height: 30px;
}
.WeatherWrap i.sun,
.item-container > i.sun {
  background-image: url(./images/sun.png);
}
.WeatherWrap i.clouds,
.item-container > i.clouds {
  background-image: url(./images/clouds-3.png);
}
.WeatherWrap i.cloudy,
.item-container > i.cloudy {
  background-image: url(./images/cloudy-4.png);
}

.WeatherWrap i.rain,
.item-container > i.rain {
  background-image: url(./images/rain.png);
}
.WeatherWrap i.snow,
.item-container > i.snow {
  background-image: url(./images/snow.png);
}
.WeatherWrap i.shower,
.item-container > i.shower {
  background-image: url(./images/umbrella.png);
}

.WeatherWrap{
  margin: 0 auto;
  width: calc(100vw - 20px);
  /* height: 210px; */
  background-color: #fff;
  overflow: scroll;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding:20px 10px;
  box-sizing: border-box;
}
.WeatherWrap >li{
  width: 110px;
  height: 110px;
  background-color: #f6f6f2;
  border-radius: 4px;
  min-width: 100px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.WeatherWrap >li  .time{
  padding: 0px 10px;
  border-radius: 12px;
  box-sizing: border-box;
}
.WeatherWrap >li  .time.now{
  border: 1px solid #76b7e7;
}
.WeatherWrap >li  .time.tomorrow{
  border: 1px solid #76e77f;
}
.WeatherWrap >li  .time.afterTomorrow{
  border: 1px solid #e7e176;
}
